-----BEGIN CERTIFICATE-----
MIICmTCCAgICCQCepP0quM9lCzANBgkqhkiG9w0BAQsFADCBkDELMAkGA1UEBhMC
Q04xEjAQBgNVBAgMCUd1YW5nRG9uZzESMBAGA1UEBwwJR3Vhbmd6aG91MRAwDgYD
VQQKDAd0ZWxpZ2VuMQ4wDAYDVQQLDAVjbG91ZDEbMBkGA1UEAwwScG9ydHVzLnRl
bGlnZW4uY29tMRowGAYJKoZIhvcNAQkBFgtra2tAa2trLmNvbTAeFw0xODA1MjEw
NzI4NDhaFw0xOTA1MjEwNzI4NDhaMIGQMQswCQYDVQQGEwJDTjESMBAGA1UECAwJ
R3VhbmdEb25nMRIwEAYDVQQHDAlHdWFuZ3pob3UxEDAOBgNVBAoMB3RlbGlnZW4x
DjAMBgNVBAsMBWNsb3VkMRswGQYDVQQDDBJwb3J0dXMudGVsaWdlbi5jb20xGjAY
BgkqhkiG9w0BCQEWC2tra0Bra2suY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCB
iQKBgQDGb8CqQbItWF8h5TVQwo5s59atwUPqVUb8a1mDJDcK/jFw9WEWe4xDK6Uw
EpJwrP7WU70yONcqQQnM6kHDbx6npzna8Eb6WdUY5SR/PWHfyL+IyOWlFDtR+RiH
BNiEHGBQFvSSTPtocWbX6YjcMSq6i5bq/tAMmXvqNm3e/zISLQIDAQABMA0GCSqG
SIb3DQEBCwUAA4GBAFReCZn7UhVWxW5afwERiX16VaXqx7HO66duNk2A1UDjALb3
YGRdPlOCKPO2uOvpq/NxwvUX1sFZxWnKwgkShinXsu2QuBX+EybQukHUm9Z/zgk+
psZSVt/qLYdS2elN93hDDt5byjWFgrIyJoGycEsOUkfBiRwa4sBNezRHghgc
-----END CERTIFICATE-----
